:root {
  --color-background: #4e5340;
  --color-primary: #697268;
  --color-secondary: #95a3a4;
  --color-accent: #b7d1da;
  --color-text: #e2e8dd;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 18px;
}

.button {
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  margin: 0;
  font-size: 1em;
  padding: 1em 2em;
}

button:not(:disabled):active {
  background: var(--color-secondary);
}
